*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(8, min-content);
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem)) minmax(6rem, 1fr); }
  .container .header {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr repeat(2, 3fr) 1fr;
    grid-template-rows: 10vh 20vh 60vh; }
    @media (min-width: 57.6rem) {
      .container .header__contact {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 2fr repeat(2, 1fr); } }
    .container .header__nav {
      grid-column: 2/-2;
      display: grid;
      grid-template-columns: 1fr 1.5fr; }
      .container .header__nav .header__logo {
        grid-column: 1/2; }
      .container .header__nav .header__navigation {
        grid-column: 2/-1; }
        @media (min-width: 57.6rem) {
          .container .header__nav .header__navigation .navigation__nav {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(6, 1fr); } }
    .container .header .home {
      grid-column: 1/-1; }
  .container .services {
    grid-column: 2/-2;
    grid-row: 2/3; }
  .container .secvices2 {
    grid-column: 1/-1;
    grid-row: 3/4; }
  .container .features {
    grid-column: 1/-1;
    grid-row: 4/5; }
  .container .customers {
    grid-column: 2/-2;
    grid-row: 5/6; }
  .container .number {
    grid-column: 1/-1;
    grid-row: 6/7; }
  .container .newsletter {
    grid-column: 2/-2;
    grid-row: 7/8; }
  .container .news {
    grid-column: 2/-2;
    grid-row: 8/9; }
  .container .footer {
    grid-column: 1/-1;
    grid-row: 9/10; }

.header {
  font-size: 1.4rem;
  color: #696969;
  position: relative;
  padding-top: 2rem; }
  @media (min-width: 57.6rem) {
    .header {
      padding-top: 0; } }
  .header__contact {
    display: none; }
    @media (min-width: 57.6rem) {
      .header__contact {
        display: block;
        padding: 0 10%;
        padding-top: 2rem;
        background-color: #f5f5f5; } }
  .header .contact__icon {
    width: 3rem;
    height: 3rem;
    margin: -1rem 1rem; }
  .header__navigation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15; }
    @media (min-width: 57.6rem) {
      .header__navigation {
        position: relative;
        background-color: white;
        height: auto;
        width: auto; } }

.navigation__checkbox {
  display: none; }

.navigation__icon {
  position: absolute;
  top: 2.7rem;
  right: 3.6rem;
  background: none;
  border: none;
  z-index: 30;
  cursor: pointer; }
  @media (min-width: 57.6rem) {
    .navigation__icon {
      display: none; } }
  .navigation__icon .icon__item {
    display: block;
    position: absolute;
    right: 0;
    width: 3.5rem;
    height: 0.4rem;
    margin-bottom: 0.5rem;
    background: #3b404f;
    border-radius: 0.3rem;
    z-index: 30;
    transition: all .2s; }
    .navigation__icon .icon__item:nth-child(1) {
      top: 0; }
    .navigation__icon .icon__item:nth-child(2) {
      top: 1rem; }
    .navigation__icon .icon__item:nth-child(3) {
      top: 2rem; }

.navigation__bcg {
  position: fixed;
  top: 1rem;
  right: 0.7rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#fff, #fab702);
  z-index: 10;
  transition: transform .8s; }
  @media (min-width: 57.6rem) {
    .navigation__bcg {
      display: none; } }

.navigation__nav {
  list-style: none;
  text-align: center;
  z-index: 20;
  color: #3b404f;
  opacity: 0;
  width: 0;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  @media (min-width: 57.6rem) {
    .navigation__nav {
      opacity: 1; } }

.navigation__item {
  margin: 1.5rem; }

.navigation__link {
  color: #3b404f;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fab702 50%);
  background-size: 230%;
  transition: all .4s; }
  @media (min-width: 57.6rem) {
    .navigation__link {
      padding: 0;
      font-size: 1.4rem;
      text-align: left;
      background-image: none; } }
  .navigation__link:hover {
    background-position: 100%;
    color: #3b404f; }
    @media (min-width: 57.6rem) {
      .navigation__link:hover {
        color: #fab702; } }
  .navigation__link-active {
    color: #fab702; }

.navigation__search {
  fill: #3b404f;
  width: 3rem;
  height: 3rem;
  margin: 0 3.5rem; }

.navigation__checkbox:checked ~ .navigation__bcg {
  transform: scale(25); }

.navigation__checkbox:checked ~ .navigation__nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  width: 100%; }

.navigation__checkbox:checked + .navigation__icon .icon__item:nth-child(1) {
  transform: rotate(135deg);
  top: .4rem; }

.navigation__checkbox:checked + .navigation__icon .icon__item:nth-child(2) {
  right: 100px;
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__icon .icon__item:nth-child(3) {
  transform: rotate(-135deg);
  top: .4rem; }
