*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(9, min-content);
  grid-template-columns: minmax(min-content); }
  .container .header {
    grid-column: 1/-1;
    grid-row: 1/2;
    background: red; }

.header {
  font-size: 1.4rem;
  color: #696969;
  position: relative; }
  .header .contact__text {
    display: none; }
  .header .contact__phone, .header .contact__email {
    display: none; }
  .header__navigation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15; }

.navigation__checkbox {
  display: none; }

.navigation__icon {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  z-index: 30; }
  .navigation__icon .icon__item {
    display: block;
    width: 3.5rem;
    height: 0.4rem;
    margin-bottom: 0.5rem;
    background: #fff;
    border-radius: 0.3rem;
    z-index: 30; }

.navigation__bcg {
  position: fixed;
  top: 0.4rem;
  right: 0.7rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#fff, #fab702);
  z-index: 10;
  transform: scale(30); }

.navigation__nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  z-index: 15;
  color: #3b404f; }

.navigation__item {
  margin: 1.5rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #3b404f;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fab702 50%);
  background-size: 230%;
  transition: all .4s; }

.navigation__link:hover {
  background-position: 100%; }

.navigation__link-active {
  color: #3b404f; }

.navigation__search {
  fill: #3b404f;
  width: 3rem;
  height: 3rem;
  margin: 0 3.5rem; }
