.container {
    display: grid;
    grid-template-rows: 100vh repeat(8, min-content);
    grid-template-columns: minmax(6rem,1fr) repeat(8, minmax(min-content,14rem)) minmax(6rem,1fr);
    .header {
        grid-column: 1/-1;
        grid-row: 1/2;
        display: grid;
        grid-template-columns:  1fr repeat(2, 3fr)  1fr;
        &__contact {
            @include sm{
            height: 20vh;
            grid-column: 1/-1;
            display: grid;
            grid-template-columns: 2fr repeat(2, 1fr);
            }
            
        }
        &__nav {
            grid-column: 1/-1;
        }
        .home {
            grid-column: 1/-1;
        }
    }
    .services {
        grid-column: 2/-2;
        grid-row: 2/3;
    }
    .secvices2 {
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .features {
        grid-column: 1/-1;
        grid-row: 4/5;
    }
    .customers {
        grid-column:  2/-2;
        grid-row: 5/6;
    }
    .number {
        grid-column: 1/-1;
        grid-row: 6/7;
    }
    .newsletter {
        grid-column:  2/-2;
        grid-row: 7/8;
    }
    .news {
        grid-column:  2/-2;
        grid-row: 8/9;
    }
    .footer {
        grid-column: 1/-1;
        grid-row: 9/10;
    }
}