$font-montserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$color-text: #696969;
$color-link-active: #fab702;
$color-link: #3b404f;
$color-white: #fff;
$color-title: #3b404f;

$bcg-header-contact: #f5f5f5;

$screen-sm-min: 57.6rem;
$screen-md-min: 76.8rem;
$screen-lg-min: 99.2rem;
$screen-xl-min: 120rem;
