$font-montserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$color-text: #696969;
$color-link-active: #fab702;
$color-link: #3b404f;
$color-white: #fff;
$color-title: #3b404f;

$bcg-header-contact: #f5f5f5;
